* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.vjs-big-play-button {
    border: none !important;
    font-size: 7.5em !important;
    background: rgba(0, 0, 0, 0.5) !important;
    height: 1em !important;
    width: 1em !important;
    line-height: inherit !important;
    border-radius: 50% !important;

    margin-top: -0.5em !important;
    margin-left: -0.5em !important;
}
